@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap');

:root {
  --DarkGray: hsl(0, 0%, 63%);
  --Black: hsl(0, 0%, 0%);
  --White: hsl(0, 0%, 100%);
  --VeryDarkGray: hsl(0, 0%, 27%);
}

* {
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-family: 'League Spartan', sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

.container {
  padding: 2rem 1.5rem;
}
