.slider {
  width: 100%;
  height: 100vw;
  margin-top: -91px;
  padding: 0;
  position: relative;
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
}

.slider .buttonGroup {
  position: absolute;
  z-index: 999999999;
  bottom: 0;
  right: 0;
}

.slider .buttonGroup button {
  z-index: 999999999;
  padding: 1.2rem 1.5rem;
  background-color: var(--Black);
  border: none;
  margin-left: -1px;
  margin-right: -1px;
}

button:hover {
  filter: brightness(130);
}

.heroText h2 {
  font-size: 2.1rem;
  font-weight: 700;
  letter-spacing: -0.06rem;
  margin-bottom: 0;
}

.heroText p {
  line-height: 1rem;
  font-size: 18px;
  color: var(--DarkGray);
}

.heroText button {
  background-color: inherit;
  border: none;
  font-weight: 700;
  letter-spacing: 0.8rem;
  margin-top: 1rem;
  padding: 1rem 0;
  z-index: 999999;
}

.heroText button:hover {
  filter: opacity(0.5);
  cursor: pointer;
}

.heroText button img {
  display: inline-block;
  width: 40px;
}
